<!DOCTYPE html>
<html>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<body>

<div id="clock">
    <p class="date">{{ date }}</p>
    <p class="hour">{{ hour }}</p>
    <p class="min">{{ min }}</p>
    <p class="sec">{{ sec }}</p>
    <p class="day">{{ day }}</p>
</div>
<div id="clock">
    <table>
      <thead>
        <tr>
          <th class="headcol"></th>
          <th id="MON">M</th>
          <th id="TUE">T</th>
          <th id="WED">W</th>
          <th id="THU">T</th>
          <th id="FRI">F</th>
          <th id="SAT">S</th>
          <th id="SUN">S</th>
        </tr>
      </thead>
    </table>
  </div>

<script>
var clock = new Vue({
    el: '#clock',
    data: {
        hour: '',
        date: '',
        min: '',
        day: '',
        datee: '',
        sec: ''
    }
});

var week = ['SUN', 'MON', 'TUE', 'WED', 'THU', 'FRI', 'SAT'];
var timerID = setInterval(updateTime, 1000);
updateTime();
function updateTime() {
    var cd = new Date();
    clock.hour = zeroPadding(cd.getHours(), 2);
    clock.min = zeroPadding(cd.getMinutes(), 2);
    clock.sec = zeroPadding(cd.getSeconds(), 2);
    clock.date = cd.toLocaleString('default', { month: 'long' }) + ' ' + zeroPadding(cd.getDate(), 2);
    clock.day = week[cd.getDay()];
    document.getElementById(week[cd.getDay()]).classList.add('today');
};

function zeroPadding(num, digit) {
    var zero = '';
    for(var i = 0; i < digit; i++) {
        zero += '0';
    }
    return (zero + num).slice(-digit);
}
</script>

<style>
html,body {
    height: 100%;
}
body {
    background: #0f3854;
    background: radial-gradient(ellipse at center,  #0a2e38  0%, #000000 70%);
    background-size: 100%;
}
p {
    margin: 0;
    padding: 0;
}
thead {
    z-index: 2;
    width: 450px;
    top: -45px;
    position: relative;
}
table {
  width: 60%;
  height: 100%;
  table-layout: fixed;
  margin-left: auto;
  margin-right: auto;
  font-size: 25px;
}
.today {
  color: red;
}
#clock {
    font-family: 'Share Tech Mono', monospace;
    color: #ffffff;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #daf6ff;
    text-shadow: 0 0 20px rgba(10, 175, 230, 1),  0 0 20px rgba(10, 175, 230, 0);
}
    .hour {
        right: 80px;
        position: relative;
        letter-spacing: 0.05em;
        font-size: 80px;
        padding: 5px 0;
    }
    .min {
        left: 80px;
        top: -105px;
        position: relative;
        letter-spacing: 0.05em;
        font-size: 80px;
        padding: 5px 0;
    }
    .sec {
        left: 155px;
        top: -175px;
        position: relative;
        letter-spacing: 0.05em;
        font-size: 40px;
        padding: 5px 0;
    }
    .day {
        position: relative;
        left: 63px;
        top: -245px;
        font-size: 18px;
        padding: 5px 0;
        writing-mode: vertical-rl;
        text-orientation: upright;
    }
    .date {  
        position: relative;
        left: -40px;
        letter-spacing: 0.1em;
        font-size: 24px;
    }
</style>

</body>
</html>
