@font-face{
    font-family:digital-clock-font;
    src: url('./digital-7/digital-7.ttf');
}

html {
    height: 100%;
    display: table;
    margin: auto;
}

body{
    height: 100%;
    font-family:digital-clock-font;
    background-color: #346279;
    user-select:none;
    display: table-cell;
    vertical-align: middle;
}


#separator-day {
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-size: 50px;
}

#hour, #minute {
    color : #858585;
    font-size: 250px;
}

#second {
    color : #858585;
    font-size: 80px;
    column-width: 100px;
    margin-top: 185px;
}

#separator-day {
    color: #B1ADAD;
}

#date {
    font-size: 40px;
    color: #B1ADAD;
}

#month {
    font-size: 40px;
    color: #B1ADAD;
}

#agenda {
    font-size: 40px;
    color: #B1ADAD;
}

#days{
    font-size: 45px;
    color : #858585;
}

.today {
    color: #B1ADAD;
}